footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.footerp{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;

  color: #FFFFFF;
}

.foo-box h3{
  color: #FFFFFF;
}

.footer-container{
  display: flex;
}

.foo-box{
  width: 270px;
}

.podpisatsa{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 62px;
  padding-left: 29px;
  margin-left: 10px;

  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  position: relative;
}

.podpis-icon{
  position: absolute;
  top: 12px;
  right: 28px;
}

.podpis{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;

color: #FFFFFF;
}

.podpis-input{
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  width: 358px;
  background: #2F303A;
  color: #FFFFFF;
  outline: none;

  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}

.podpis-div{
  margin-right: 12px;
  margin-left: 30px;
}

.link-mail,
.link-tel{
    position: relative;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

color: #757575;
}

.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus{
    color: $accent-color;
}

.join-list .social-element:not(:last-child){
  margin-right: 10px;
}

.join-list .svg-team{
  fill: #FFFFFF;
}

.join-list{
  display: flex;
  /* justify-content: center; */
  margin-bottom: 24px;
}
