.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: #fff;
}

.form-wraper-close{
  display: flex;
  justify-content: center;
  align-items: center;    
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
.form-wraper-close:hover{
  color: #188CE8;
}

.krestik-svg{
  fill: currentColor;
  width: 10px;
  height: 10px;
  /* padding: 2px 1px 1px 2px; */
}

.label,
.input,
textarea{
  display: block;
  box-sizing: border-box;
}
.input,
textarea{
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px; 
  width: 100%;
  /* padding: 12px; */
}

textarea{
  resize: none;
  width: 448px;
  height: 120px;
}


.form-field{
  margin-bottom: 10px;

  position: relative;
}

.form-field:hover .input,
.form-field:focus-within .input{
  border-color: #2196F3;
  outline: none;
}

.form-field:hover .svg-form,
.form-field:focus-within .svg-form{
  fill: #2196F3;
}

.form-field:hover textarea,
.form-field:focus-within textarea{
  border-color: #2196F3;
  outline: none;
}

.form-field label{
  margin-bottom: 5px;
}

.form-field input{
  position: relative;
  border-radius: 4px;
  padding: 12px 12px 12px 30px;
}



.form-heading{
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
  color: #212121;
}

.agreement{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.checkbox{
  margin-right: 7px;
}

.form-link{
  color: #188CE8;
}

.button-form{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 55px;
  padding-left: 55px;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.name-svg,
.mail-svg,
.phone-svg{
  position: absolute;
  fill: currentColor;
  top: 13px;
  z-index: 2;
  left: 12px;
  fill: #212121;
}

.name-svg{
  width: 12px;
  height: 12px;
}
.phone-svg{
  width: 13px;
  height: 13px;
}
.mail-svg{
  width: 15px;
  height: 12px;
}


.frm{
  margin-left: 25px;
}