 
.whatwedo-section{
  display: none;
}

@media screen and (min-width: 1200px){
  .overlay-whatwedo{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .whatwedo-section{
    display: block;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #FFFFFF;
  }
  
  .work-li{
    position: relative;
    width: 370px;
  }
  
  .work-li:not(:last-child){
    margin-right: 30px;
  }
  
  .work-li img{
    display: none;
    max-width: 100%;
    height: auto;
  }
  
  .whatwedo-section{
    text-transform: uppercase;
    margin: 0;
  }
  
  .section-title{
    display: none;
  }
}